{% extends 'base.html' %}

{% block content %}
<div class="space-y-8 p-8">
    <h1 class="text-4xl text-center">Learn About Cryptocurrency</h1>
    <div
        class="w-1/4 mx-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <!-- Brief history or description about cryptocurrency can be added here -->

        <!-- YouTube video embed -->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

{% endblock %}