<!-- coin_top_20.html -->
{% extends "base.html" %}
{% block title %}Top 20 Coins{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">Top 20 Cryptocurrencies</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for coin in coins %}
    <div class="p-6 bg-white dark:bg-gray-900 rounded-lg shadow-md">
      <h3 class="text-xl font-semibold mb-2 text-gray-900 dark:text-white">{{ coin.name }}</h3>
      <img src="{{ coin.image }}" style="width: 30%;" alt="Coin Image">
      <p class="font-semibold text-gray-900 dark:text-white">Symbol: {{ coin.symbol }}</p>
      <p class="font-semibold text-gray-900 dark:text-white">Current Price: ${{ coin.current_price }}</p>
      <p class="font-semibold text-gray-900 dark:text-white">Market Cap: ${{ coin.market_cap }}</p>
      
      <!-- Favorite button -->
      {% if coin.is_favorite %}
        <button class="favorite-button mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-2 rounded-lg focus:outline-none focus:ring focus:ring-green-300">❤️ Favorited</button>
      {% else %}
        <button class="favorite-button mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-300">Favorite</button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  // Add event listener to each favorite button
  document.querySelectorAll('.favorite-button').forEach(function(button) {
    button.addEventListener('click', function() {
      // Toggle class to indicate whether it's favorited or not
      this.classList.toggle('favorited');
      // Update button's text and style
      if (this.classList.contains('favorited')) {
        this.textContent = '❤️ Favorited';
        this.classList.remove('bg-blue-500', 'hover:bg-blue-600');
        this.classList.add('bg-green-500', 'hover:bg-green-600');
      } else {
        this.textContent = 'Favorite';
        this.classList.remove('bg-green-500', 'hover:bg-green-600');
        this.classList.add('bg-blue-500', 'hover:bg-blue-600');
      }
    });
  });
</script>

{% endblock %}
